<% content_for :body_content_title do %>
  <%= t('plugins.refinerycms_cradle_rolls.title') %>
<% end %>

<h1 class="full">Morton General Hospital Cradle Roll</h1>

<% content_for :body_content_left do %>
  <%= @page[:body] if @births.offset == 0 %>
  <% if @births.any? %>
    <% @births.each do |item| %>
      <article class="birth_truncated">
      <%= image_tag item.image.thumbnail('175x175').url %>
        <h3><%= item.name %></h3>
        <div class="year"><strong>Born:</strong> <%= item.birth_date.strftime("%B %e, %Y") %></div>
        <div class="year"><strong>Length:</strong> <%= item.length %></div>
        <div class="year"><strong>Weight:</strong> <%= item.weight %></div>
      </article>
    <% end %>

    <%= will_paginate(@births) %>
  <% else %>
    <p><em><%= t('.no_items_yet') %></em></p>
  <% end %>
<% end -%>

<%= render :partial => "/shared/content_page" %>
